
// basic color
$white: #fff;
$background-gray: #F5F5F5;
$light-gray: #D8D8D8;
$dark-gray: #979797;
$black: #050505;

// mood color
$yellow: #F9DD6C;
$orange: #F08C34;
$red: #EC5B55;
$purple: #D475E4;
$blue: #71B2E1;
$green: #70BC74;

// set color
$point: $black;
$happy: $yellow;
$excite: $orange;
$angry: $red;
$worry: $purple;
$depressed: $blue;
$peaceful: $green;

$background: $white;
$navigationBgColor: $black;
$modalBgColor: rgba(0, 0, 0, 0.3);

